* {
    box-sizing: border-box;
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    -ms-transition: background .2s;
    -o-transition: background .2s;
    transition: background .2s;
    outline: 0;
}

body {
    background: cadetblue;
    color: #ffffff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

h1 {
    text-align: center;
}

.add-task input[type = text]{
    float: left;
    width: 84%;
    margin-right: 1%;
}

.add-task [type = submit] {
    width: 15%;
}

.task-item {
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}

.task-list {
    margin: 3px 0;
}

.task-item {
    background: #ffffff;
    color: #333;
    cursor: pointer;
}

.task-item:hover {
    background: gainsboro;
}

input[type = text], input[type = date] {
    display: block;
    width: 100%;
    border: 0;
    background: #eeeeee;
    -webkit-box-shadow:  inset 0 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow:  inset 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow:  inset 0 1px 1px rgba(0, 0, 0, .1);
}

input[type = text]:hover,
input[type = text]:focus,
input[type = date]:hover,
input[type = date]:focus{
    background: #ffffff;
}

input, .task-item, button, .task-detail-mask {
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 2px;
}

button {
    display: inline-block;
    cursor: pointer;
    background: #38afdf;
}

button:hover {
    background: #4ebaf3;
}

.task-detail {
    background: #ffffff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.task-detail-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(30, 30, 30, .6);
}